<table class="table">

    <thead>
        <tr>
            <th scope="col">TODO</th>
        </tr>
    </thead>

    <tbody id="todo_table">

    </tbody>

    <form action="/complete_todo/" id="complete_todo_form" method="POST"></form>
    
</table>